In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from scipy.stats import zscore
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler

import keras
from keras.models import Sequential
from keras.layers import Dense

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
database_path = "/content/drive/My Drive/DBs/DL_tabular/"

In [3]:
database = pd.read_csv(database_path + "Churn_Modelling.csv")
database.head(4)

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0

[4 rows x 14 columns]

In [4]:
database = database.drop(['RowNumber','CustomerId','Surname'], axis=1 )
database = pd.get_dummies(database)
database.head(4)

   CreditScore  Age  Tenure  ...  Geography_Spain  Gender_Female  Gender_Male
0          619   42       2  ...                0              1            0
1          608   41       1  ...                1              1            0
2          502   42       8  ...                0              1            0
3          699   39       1  ...                0              1            0

[4 rows x 14 columns]

In [5]:
database = database.drop(['Geography_France','Gender_Female'], axis=1 )
database.head(4)

   CreditScore  Age  Tenure  ...  Geography_Germany  Geography_Spain  Gender_Male
0          619   42       2  ...                  0                0            0
1          608   41       1  ...                  0                1            0
2          502   42       8  ...                  0                0            0
3          699   39       1  ...                  0                0            0

[4 rows x 12 columns]

In [6]:
X = database.drop(['Exited'], axis=1 )
y = database['Exited']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [8]:
model = Sequential()
model.add(Dense(64, activation='relu', input_dim=11))
model.add(Dense(128, activation='relu'))
model.add(Dense(128, activation='relu'))
model.add(Dense(1, activation='relu'))
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [9]:
model.fit(X_train, y_train, batch_size=10, epochs=100)

Epoch 1/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6525 - accuracy: 0.8052
Epoch 2/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5078 - accuracy: 0.8294
Epoch 3/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4857 - accuracy: 0.8372
Epoch 4/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4383 - accuracy: 0.8475
Epoch 5/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3943 - accuracy: 0.8550
Epoch 6/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3939 - accuracy: 0.8549
Epoch 7/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4317 - accuracy: 0.8501
Epoch 8/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4005 - accuracy: 0.8510
Epoch 9/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3876 - accuracy: 0.8566
Epoch 10/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3948 - accuracy: 0.8530
Epoch 11/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4029 - accuracy: 0.8539
Epoch 12/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3935 - accuracy: 0.8536
Epoch 13/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3700 - accuracy: 0.8558
Epoch 14/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3685 - accuracy: 0.8639
Epoch 15/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4014 - accuracy: 0.8560
Epoch 16/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3777 - accuracy: 0.8646
Epoch 17/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3737 - accuracy: 0.8661
Epoch 18/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3646 - accuracy: 0.8635
Epoch 19/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3625 - accuracy: 0.8658
Epoch 20/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3483 - accuracy: 0.8668
Epoch 21/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3450 - accuracy: 0.8649
Epoch 22/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3516 - accuracy: 0.8609
Epoch 23/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3662 - accuracy: 0.8655
Epoch 24/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3594 - accuracy: 0.8601
Epoch 25/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3380 - accuracy: 0.8634
Epoch 26/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3423 - accuracy: 0.8726
Epoch 27/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3279 - accuracy: 0.8721
Epoch 28/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3425 - accuracy: 0.8755
Epoch 29/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3536 - accuracy: 0.8686
Epoch 30/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3308 - accuracy: 0.8777
Epoch 31/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3440 - accuracy: 0.8687
Epoch 32/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3325 - accuracy: 0.8795
Epoch 33/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3374 - accuracy: 0.8773
Epoch 34/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3182 - accuracy: 0.8781
Epoch 35/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3151 - accuracy: 0.8810
Epoch 36/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3490 - accuracy: 0.8784
Epoch 37/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3367 - accuracy: 0.8827
Epoch 38/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3244 - accuracy: 0.8844
Epoch 39/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3262 - accuracy: 0.8846
Epoch 40/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3068 - accuracy: 0.8886
Epoch 41/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2971 - accuracy: 0.8861
Epoch 42/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2964 - accuracy: 0.8826
Epoch 43/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3033 - accuracy: 0.8869
Epoch 44/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3258 - accuracy: 0.8816
Epoch 45/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3123 - accuracy: 0.8898
Epoch 46/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3166 - accuracy: 0.8924
Epoch 47/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2890 - accuracy: 0.8972
Epoch 48/100
800/800 [==============================] - 1s 2ms/step - loss: 0.2829 - accuracy: 0.9015
Epoch 49/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3160 - accuracy: 0.8939
Epoch 50/100
800/800 [==============================] - 1s 2ms/step - loss: 0.2691 - accuracy: 0.8978
Epoch 51/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3133 - accuracy: 0.8900
Epoch 52/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2839 - accuracy: 0.8972
Epoch 53/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2741 - accuracy: 0.9029
Epoch 54/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2870 - accuracy: 0.9005
Epoch 55/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2613 - accuracy: 0.9054
Epoch 56/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2470 - accuracy: 0.9090
Epoch 57/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3536 - accuracy: 0.9018
Epoch 58/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3181 - accuracy: 0.9003
Epoch 59/100
800/800 [==============================] - 1s 2ms/step - loss: 0.2890 - accuracy: 0.9031
Epoch 60/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2577 - accuracy: 0.9086
Epoch 61/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2755 - accuracy: 0.9100
Epoch 62/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2766 - accuracy: 0.9049
Epoch 63/100
800/800 [==============================] - 1s 2ms/step - loss: 0.2534 - accuracy: 0.9104
Epoch 64/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3005 - accuracy: 0.9046
Epoch 65/100
800/800 [==============================] - 1s 2ms/step - loss: 0.2492 - accuracy: 0.9125
Epoch 66/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2648 - accuracy: 0.9135
Epoch 67/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2425 - accuracy: 0.9186
Epoch 68/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2269 - accuracy: 0.9247
Epoch 69/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2961 - accuracy: 0.9101
Epoch 70/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2852 - accuracy: 0.9099
Epoch 71/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3028 - accuracy: 0.9112
Epoch 72/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2300 - accuracy: 0.9225
Epoch 73/100
800/800 [==============================] - 1s 2ms/step - loss: 0.2465 - accuracy: 0.9224
Epoch 74/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2448 - accuracy: 0.9244
Epoch 75/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3063 - accuracy: 0.9145
Epoch 76/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2437 - accuracy: 0.9218
Epoch 77/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2284 - accuracy: 0.9299
Epoch 78/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2379 - accuracy: 0.9270
Epoch 79/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2916 - accuracy: 0.9143
Epoch 80/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2250 - accuracy: 0.9275
Epoch 81/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3134 - accuracy: 0.9202
Epoch 82/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2632 - accuracy: 0.9218
Epoch 83/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2222 - accuracy: 0.9310
Epoch 84/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2402 - accuracy: 0.9269
Epoch 85/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2255 - accuracy: 0.9341
Epoch 86/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2804 - accuracy: 0.9287
Epoch 87/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2818 - accuracy: 0.9227
Epoch 88/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3121 - accuracy: 0.9111
Epoch 89/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3061 - accuracy: 0.9184
Epoch 90/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3001 - accuracy: 0.9256
Epoch 91/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2919 - accuracy: 0.9236
Epoch 92/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3028 - accuracy: 0.9227
Epoch 93/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2929 - accuracy: 0.9252
Epoch 94/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2549 - accuracy: 0.9298
Epoch 95/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3260 - accuracy: 0.9211
Epoch 96/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3382 - accuracy: 0.9286
Epoch 97/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3361 - accuracy: 0.9227
Epoch 98/100
800/800 [==============================] - 1s 2ms/step - loss: 0.2668 - accuracy: 0.9339
Epoch 99/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2625 - accuracy: 0.9377
Epoch 100/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2507 - accuracy: 0.9373

In [10]:
y_pred = model.predict(X_test)
y_pred = (y_pred>0.5)
cm = confusion_matrix(y_test, y_pred)
cm

array([[1551,   66],
       [ 251,  132]])

In [11]:
(1551+132)/2000

0.8415