In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from scipy.stats import zscore
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler

import keras
from keras.models import Sequential
from keras.layers import Dense

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
database_path = "/content/drive/My Drive/DBs/DL_tabular/"

In [3]:
database = pd.read_csv(database_path + "Churn_Modelling.csv")
database.head(4)

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0

[4 rows x 14 columns]

In [4]:
database = database.drop(['RowNumber','CustomerId','Surname'], axis=1 )
database = pd.get_dummies(database)
database.head(4)

   CreditScore  Age  Tenure  ...  Geography_Spain  Gender_Female  Gender_Male
0          619   42       2  ...                0              1            0
1          608   41       1  ...                1              1            0
2          502   42       8  ...                0              1            0
3          699   39       1  ...                0              1            0

[4 rows x 14 columns]

In [5]:
database = database.drop(['Geography_France','Gender_Female'], axis=1 )
database.head(4)

   CreditScore  Age  Tenure  ...  Geography_Germany  Geography_Spain  Gender_Male
0          619   42       2  ...                  0                0            0
1          608   41       1  ...                  0                1            0
2          502   42       8  ...                  0                0            0
3          699   39       1  ...                  0                0            0

[4 rows x 12 columns]

In [6]:
X = database.drop(['Exited'], axis=1 )
y = database['Exited']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [8]:
model = Sequential()
model.add(Dense(64, activation='relu', input_dim=11))
model.add(Dense(128, activation='relu'))
model.add(Dense(128, activation='relu'))
model.add(Dense(1, activation='relu'))
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [9]:
model.fit(X_train, y_train, batch_size=10, epochs=100)

Epoch 1/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6271 - accuracy: 0.7986
Epoch 2/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4842 - accuracy: 0.8294
Epoch 3/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4567 - accuracy: 0.8380
Epoch 4/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5584 - accuracy: 0.8144
Epoch 5/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5090 - accuracy: 0.8397
Epoch 6/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4446 - accuracy: 0.8409
Epoch 7/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4161 - accuracy: 0.8533
Epoch 8/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4917 - accuracy: 0.8340
Epoch 9/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4945 - accuracy: 0.8244
Epoch 10/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4555 - accuracy: 0.8460
Epoch 11/100
800/800 [==============================] - 2s 2ms/step - loss: 0.6132 - accuracy: 0.8209
Epoch 12/100
800/800 [==============================] - 1s 2ms/step - loss: 0.5306 - accuracy: 0.8164
Epoch 13/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4432 - accuracy: 0.8531
Epoch 14/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4487 - accuracy: 0.8522
Epoch 15/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4496 - accuracy: 0.8503
Epoch 16/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4653 - accuracy: 0.8444
Epoch 17/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4486 - accuracy: 0.8500
Epoch 18/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4299 - accuracy: 0.8609
Epoch 19/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4211 - accuracy: 0.8576
Epoch 20/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4060 - accuracy: 0.8639
Epoch 21/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4364 - accuracy: 0.8512
Epoch 22/100
800/800 [==============================] - 2s 2ms/step - loss: 0.5024 - accuracy: 0.8455
Epoch 23/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4171 - accuracy: 0.8584
Epoch 24/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4663 - accuracy: 0.8530
Epoch 25/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4271 - accuracy: 0.8543
Epoch 26/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4196 - accuracy: 0.8595
Epoch 27/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4170 - accuracy: 0.8504
Epoch 28/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3936 - accuracy: 0.8640
Epoch 29/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3955 - accuracy: 0.8630
Epoch 30/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3913 - accuracy: 0.8616
Epoch 31/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4303 - accuracy: 0.8490
Epoch 32/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4619 - accuracy: 0.8577
Epoch 33/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4112 - accuracy: 0.8616
Epoch 34/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4291 - accuracy: 0.8622
Epoch 35/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3963 - accuracy: 0.8639
Epoch 36/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4061 - accuracy: 0.8649
Epoch 37/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4102 - accuracy: 0.8566
Epoch 38/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4712 - accuracy: 0.8489
Epoch 39/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4294 - accuracy: 0.8569
Epoch 40/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4159 - accuracy: 0.8685
Epoch 41/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4302 - accuracy: 0.8691
Epoch 42/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4213 - accuracy: 0.8680
Epoch 43/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4013 - accuracy: 0.8651
Epoch 44/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4069 - accuracy: 0.8670
Epoch 45/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3838 - accuracy: 0.8709
Epoch 46/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3693 - accuracy: 0.8791
Epoch 47/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3651 - accuracy: 0.8781
Epoch 48/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4118 - accuracy: 0.8662
Epoch 49/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4198 - accuracy: 0.8664
Epoch 50/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4001 - accuracy: 0.8710
Epoch 51/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4028 - accuracy: 0.8706
Epoch 52/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3919 - accuracy: 0.8781
Epoch 53/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3601 - accuracy: 0.8773
Epoch 54/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3552 - accuracy: 0.8779
Epoch 55/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3712 - accuracy: 0.8661
Epoch 56/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3664 - accuracy: 0.8726
Epoch 57/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3677 - accuracy: 0.8767
Epoch 58/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3867 - accuracy: 0.8721
Epoch 59/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3530 - accuracy: 0.8804
Epoch 60/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3741 - accuracy: 0.8790
Epoch 61/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3636 - accuracy: 0.8808
Epoch 62/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3592 - accuracy: 0.8706
Epoch 63/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3765 - accuracy: 0.8801
Epoch 64/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3514 - accuracy: 0.8788
Epoch 65/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4185 - accuracy: 0.8742
Epoch 66/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4371 - accuracy: 0.8692
Epoch 67/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3694 - accuracy: 0.8770
Epoch 68/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3529 - accuracy: 0.8775
Epoch 69/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3461 - accuracy: 0.8855
Epoch 70/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3328 - accuracy: 0.8870
Epoch 71/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3435 - accuracy: 0.8923
Epoch 72/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3165 - accuracy: 0.8924
Epoch 73/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3280 - accuracy: 0.8903
Epoch 74/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3754 - accuracy: 0.8760
Epoch 75/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3531 - accuracy: 0.8844
Epoch 76/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3559 - accuracy: 0.8875
Epoch 77/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3281 - accuracy: 0.8913
Epoch 78/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3075 - accuracy: 0.8953
Epoch 79/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3337 - accuracy: 0.8919
Epoch 80/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3077 - accuracy: 0.8970
Epoch 81/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3233 - accuracy: 0.8949
Epoch 82/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3380 - accuracy: 0.8882
Epoch 83/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3173 - accuracy: 0.8951
Epoch 84/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3311 - accuracy: 0.8965
Epoch 85/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3258 - accuracy: 0.8979
Epoch 86/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2884 - accuracy: 0.9051
Epoch 87/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3656 - accuracy: 0.8916
Epoch 88/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3201 - accuracy: 0.8916
Epoch 89/100
800/800 [==============================] - 1s 2ms/step - loss: 0.2910 - accuracy: 0.8989
Epoch 90/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3861 - accuracy: 0.8919
Epoch 91/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3289 - accuracy: 0.8964
Epoch 92/100
800/800 [==============================] - 1s 2ms/step - loss: 0.2983 - accuracy: 0.9019
Epoch 93/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2814 - accuracy: 0.9085
Epoch 94/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3056 - accuracy: 0.9032
Epoch 95/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2743 - accuracy: 0.9120
Epoch 96/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2651 - accuracy: 0.9126
Epoch 97/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2829 - accuracy: 0.9053
Epoch 98/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2788 - accuracy: 0.9105
Epoch 99/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2777 - accuracy: 0.9119
Epoch 100/100
800/800 [==============================] - 2s 2ms/step - loss: 0.2539 - accuracy: 0.9172

In [10]:
y_pred = model.predict(X_test)
y_pred = (y_pred>0.5)
cm = confusion_matrix(y_test, y_pred)
cm

array([[1500,  117],
       [ 201,  182]])

In [13]:
(1500+182)/2000

0.841